#main
	padding 0 0 60px
	background-color: #212025
	background-image url(../img/backgrounds/also_bg.png)
	background-repeat no-repeat
	background-position: center top
	background-size: cover
	color #fff
	position relative
	text-align: center
	&:before
		content: ''
		display block
		position: absolute
		top: 0
		left 0
		right 0
		bottom 0
		width 100%
		background-color: rgba(#212025,.7)
	.container
		position relative
		z-index 9
.pre
	font-size: 20px
	font-family: AVL
	margin-top: 60px
.main-title
	font-size: 32px
	font-family: AVB
	margin 20px 0 25px
	text-transform: uppercase
.main-info
	font-family: AVM
	font-size: 24px
	color: #fff
	span
		display: inline-block
		font-family: AVB
.video-wrapper-main
	margin 20px auto 0
	max-width 560px
#main.remind
	min-height calc(100vh - 148px)
.remind-main-title
	margin 90px 0 20px
	a
		display: inline-block
		text-decoration: underline
		&:focus
			color #fff
			text-decoration: none
		&:hover
			color #fff
			text-decoration: none
.remind-main-subtitle
	color #fff
	font-size: 26px
	font-family: AVB