footer
	padding 20px 0
	text-align: center
	font-size: 14px
	font-family: AVL
	h5
		font-size: 20px;
		margin 0
		font-family: AVB
	p
		line-height: 1.786;
.soc-buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 10px 7px 15px
		position relative
		z-index: 1
		.fa
			background-color: #140a5c
			width: 32px;
			height: 32px;
			color #ffffff
			line-height 32px
			font-size 18px
			position relative
			z-index 9
			transition all .3s ease
		&:hover
			.fa
				opacity .9
				transform: translateY(-3px)