section#main
	.container
		include ../header
		p.pre Бонус от Анны Скуцкой
		h1.main-title «Диагностика ситуации выбора»
		p.main-info Старт интенсива: 
			span с 9 сентября, в 19:00 (МСК)
		.video-wrapper.video-wrapper-main
			iframe(src="https://youtube.com/embed/4OUacH5c23s?rel=0&autoplay=1&mute=1" allowfullscreen)