-var head_url = 'https://skutskaya.mastervision.su/rune-programming-2/';
-var head_title = '«Программирование событий на языке рун»';
-var head_description = '2-хдневный бесплатный онлайн-мастер-класс Анны Скуцкой';
-var head_img = 'https://skutskaya.mastervision.su/rune-programming-2/img/banner.jpg';
-var styles = 'css/styles.min.css';
-var fav_ico = 'favicon.ico';
-var fav_png = 'favicon.png';

mixin gt(cl,h3)
	h3.general-title(class= cl)= h3
mixin bm(cl, t)
	button.button(class= cl, data-toggle="modal" data-target="#myModal")= t

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/main/1.main.pug
		include pug/main/2.for.pug
		include pug/main/3.also.pug
		include pug/main/4.plan.pug
		include pug/main/5.get.pug
		include pug/main/6.author.pug
		include pug/main/7.revs.pug
		include pug/main/8.last.pug
		include pug/main/9.footer.pug
		include pug/main/10.scripts.pug
		include pug/main/11.modals.pug
		include pug/scripts/chat
		include pug/scripts/body_bottom_scripts