-var head_url = 'https://skutskaya.mastervision.su/rune-programming-2/special-offer/';
-var head_title = 'Специальное преложение от Анны Скуцкой';
-var styles = '../css/spof.min.css';
-var oferta = '../oferta/oferta_trip.doc'
-var o_price = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=3452&clean=true&lg=ru';
-var fav_ico = '../favicon.ico'
-var fav_png = '../favicon.png'

mixin gt(cl,h3)
	h3.general-title(class= cl)= h3
	
<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		<!-- Facebook Pixel Code -->
		script
			| !function(f,b,e,v,n,t,s) {if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)}; if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0'; n.queue=[];t=b.createElement(e);t.async=!0; t.src=v;s=b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s)}(window, document,'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '869611096574211'); fbq('track', 'PageView');
		noscript
			img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=869611096574211&ev=PageView&noscript=1")
		<!-- End Facebook Pixel Code -->
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/spof/1.main.pug
		include pug/spof/2.for.pug
		include pug/spof/3.get.pug
		include pug/spof/4.last.pug
		include pug/spof/5.footer.pug
		script
			| var isIE = false || !!document.documentMode;if (isIE) {var head = document.getElementsByTagName("head")[0];var link = document.createElement("link");link.rel = "stylesheet";link.href = "../css/spof-ie.min.css";head.appendChild(link);}
		<!-- Begin LeadBack code -->
		//script
			| var _emv = _emv || [];_emv['campaign'] = '867c51ec0949a1cc34f60545'; (function() { var em = document.createElement('script');em.type = 'text/javascript';em.async = true;em.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'leadback.ru/js/leadback.js';var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(em, s);})();
		<!-- End LeadBack code -->
		include pug/scripts/body_bottom_scripts