section#for
	.container
		+gt('','Каждый раз, когда вы хотите прописать руническую формулу, вы задаетесь вопросом: чем же лучше прописать? Каким цветом?')
		h4.for-subtitle В этом видео курсе вы найдете ответ на свои вопросы:
		ul.for-list
			li Влияет ли цвет на воздействие рун?
			li Как цвет влияет на свойства некоторых рун старшего футарка?
			li Можно ли усилить нужное действие рун с помощью цвета?
		.cost.cost-light.cost-full.cost-full-for Стоимость - 
			span 4900р.
		a.button.button-for(href= o_price target="_blank") Купить за 490р.!