mixin reason(cl,p)
	.col-md-6.col-sm-6
		.reason(class= cl)
			p.reason-text= p

section#for
	.container
		.row
			.col-md-6.col-sm-6
				p.for-text Каждому, пришедшему на 
					span.for-text-bold БЕСПЛАТНЫЙ 
					| онлайн-мастер-класс, дарим денежные подарки! 
					br
					| И проводим грандиозный розыгрыш с ценным призом!
				p.for-text Зарегистрируйтесь сейчас и получите бонус на email 
					span.for-text-italic “Диагностика ситуации выбора”
			.col-md-6.col-sm-6
				.video-wrapper.video-wrapper-for
					iframe(src="https://youtube.com/embed/HF1BD3vL6R4?autoplay=1&mute=1" allowfullscreen)
		+gt('general-title-for', 'ЭТОТ ОНЛАЙН-МАСТЕР-КЛАСС НЕОБХОДИМ ДЛЯ ТЕХ, КТО:')
		.row
			+reason('reason-1','Хочет научиться работать с рунами, чтобы решать свои жизненно важные вопросы и задачи')
			+reason('reason-2','Хочет овладеть дополнительным инструментом и помогать себе, родным и близким, уберегая их от потерь и ошибок')
		.row
			+reason('reason-3','Хочет спланировать свое будущее и избавиться от постоянного режима цейтнота')
			+reason('reason-4','Хочет стать сертифицированным мастером скандинавских рун и получать постоянный доход, сделав руны своей профессией')
		.row
			+reason('reason-5','Боится, что завтра все может резко измениться, и не уверен в стабильном будущем')
			+reason('reason-6','Устал ошибаться в выборе партнеров')
		.row
			+reason('reason-7','Боится совершить ошибку и предпочитает прежде всего продиагностировать ситуацию и выбрать безопасный путь')
			+reason('reason-8','Не боится смотреть на шаг вперед и анализировать разные варианты развития событий, выбирая лучший вариант для себя')
		.row
			+reason('reason-9','Не хочет терять время и деньги, а ищет способы уберечь себя от ошибок')
			+reason('reason-10','Готов выстраивать свою жизнь по собственному сценарию и получать то, что он хочет и о чем давно мечтает')
		+bm('','Записаться')