mixin also-reason(p)
	.col-md-4.col-sm-4
		.also-reason
			p.also-reason-text= p

section#also
	.container
		+gt('general-title-white','ОНЛАЙН-МАСТЕР-КЛАСС ТАКЖЕ БУДЕТ ОЧЕНЬ ПОЛЕЗЕН ТЕМ, КТО УЖЕ ДАВНО С РУНАМИ, НО:')
		.row
			+also-reason('Нет четких стабильных результатов в работе с рунами: иногда работает, иногда нет, а иногда и вовсе приводит к непредвиденным результатам')
			+also-reason('Не понимает, как делать предсказания на рунах. Как делать рунические расклады и правильно считывать ответ рун')
			+also-reason('Не умеет составлять собственные рунические формулы таким образом, чтобы решить реальную проблему в своей жизни')
		.row
			+also-reason('Прошел множество курсов о рунах, но все никак не может разложить всё “по полочкам”. А в результате и вовсе не может применить всю силу рун для решения своих собственных задач')
			+also-reason('Не знает, на чем прописывать свои рунические формулы и потому результаты приходят с трудом')
			+also-reason('Хочет получить актуальные знания, как ускорить и усилить свои результаты')
		+bm('', 'Записаться')