mixin day(cl,h4,...items)
	.day(class= cl)
		h4.day-title= h4
		ol.day-list
			each item in items
				li= item

section#plan
	.container
		+gt('','ПЛАН ОНЛАЙН-МАСТЕР-КЛАССА')
		+day('day-1','День 1','Разберем “Почему не получается и руны не срабатывают?”','Разберем какие нюансы упускают начинающие рунологи в работе с рунами в деньгах','Конкретизируем проблемы в денежной сфере на примере разбора реальных запросов клиентов','Разберем воздействия рун и как с ними работатьв разных ситуациях (когда долго работает на одной работе и хочет увеличение зарплаты и карьерный рост, когда нужно долг вернуть, когда нужно что б долг ему вернули, когда необходимо увеличить приход денег и остановить постоянную утечку денег)','Бонусная практика, после которой всегда можно привлекать нужного специалиста или инвестора, платежеспособных клиентов')
		+day('day-2','День 2','Разберем какие нюансы упускают начинающие рунологи в с рунами в отношениях','Конкретизируем проблемы в отношениях на примере разбора реальных запросов клиентов','Разберем воздействия рун и как с ними работать в ситуациях (влюбленность, семья, социум)','Бонусная практика, после которой всегда можно привлечь  важное знакомство или добавить свежести и новизны уже существующие отношения')
		+bm('','Записаться')