mixin get-item(h4,p)
	.get-item
		h4.get-item-title= h4
		p.get-item-text= p

section#get
	.container
		+gt('general-title-white general-title-get','ЧТО ПОЛУЧИТ КАЖДЫЙ, КТО ПОСЕТИТ ОНЛАЙН-МАСТЕР-КЛАСС')
		.row
			.col-md-3.col-sm-6
				+get-item('1','Полное понимание, что такое скандинавские руны и как с ними работать')
			.col-md-3.col-sm-6
				+get-item('2','Уверенность в своих знаниях, подкрепленную практикой')
			.col-md-3.col-sm-6
				+get-item('3','Возможность составить свою собственную руническую формулу')
			.col-md-3.col-sm-6
				+get-item('4','Уверенность в своем будущем и будущем родных и близких с ним раработать')
		+bm('', 'Записаться')