section#author
	.container
		+gt('','О ТРЕНЕРЕ')
		.row
			.col-md-7.col-sm-6.col-md-push-5.col-sm-push-6
				#author-img
			.col-md-5.col-sm-6.col-md-pull-7.col-sm-pull-6
				h4.author-title Анна Скуцкая:
					small Один из самых востребованных рунологов на сегодняшний день
				ul.author-list
					li - Практикующий рунолог
					li - Консультирую бизнесменов и стартапы
					li - 8 лет наблюдаю трансформации в жизни учеников и клиентов
					li - 5 лет обучаю людей самостоятельно помогать себе