header
	padding 20px 0
	margin-bottom: 30px
#logo
	width: 296px
	height 22px
	float left
	background-image url(../img/logo.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
.contacts
	float: right
	text-align: right
.contact
	line-height: 22px
	background-repeat no-repeat
	background-position: left center
	background-size contain
	margin-left: 20px
	&&-email
		background-image url(../img/icons/envelope.png)
		padding-left: 45px
	&&-skype
		background-image url(../img/icons/skype.png)
		padding-left: 34px
	&&-tel
		background-image url(../img/icons/phone.png)
		padding-left: 40px
	&:focus
		color #fff
		text-decoration: none
	&:hover
		color #fff
		text-decoration: underline