.mail-modal-content
	background-color: #2E3438
	background-image url(../img/backgrounds/main_bg.png)
	background-repeat no-repeat
	background-position: left top
	background-size: cover
	color #fff
	padding-top: 30px
	text-align: center
.modal-text
	font-size: 20px
	margin-bottom: 20px
.input-mail-modal
	float: none
	display block
	margin 0 auto 10px
.button-modal
	float: none
	max-width 367px
.checking-modal
	margin 10px auto 0
.politics_modal-content
	background-color #fff
	background-image none
	.modal-title
		font-size: 24px
		text-align: left 
		width 100%
		max-width 90%
		font-family: AVB
		small
			display: block
	p
		font-size: 16px
		margin-bottom: 15px
		text-align: left