#for
	padding 70px 0
.for-text
	font-size: 20px
	margin-bottom: 40px
	&-bold
		font-family: AVB
	&-italic
		font-family: AVI
// .video-wrapper
// 	&-for
// 		position: absolute
// 		top -160px
.general-title-for
	width 100%
	max-width 670px
	margin 60px auto 45px
.reason
	width 100%
	max-width 570px
	margin 0 auto 50px
	padding 20px 20px 20px 190px
	background-repeat no-repeat
	background-position: left 20px center
	box-shadow: 0px 3px 11.7px 1.3px rgba(0, 0, 0, 0.32);
	height 187px
	display: table
	&-1
		background-image url(../img/icons/reason_1.png)
	&-2
		background-image url(../img/icons/reason_2.png)
	&-3
		background-image url(../img/icons/reason_3.png)
	&-4
		background-image url(../img/icons/reason_4.png)
	&-5
		background-image url(../img/icons/reason_5.png)
	&-6
		background-image url(../img/icons/reason_6.png)
	&-7
		background-image url(../img/icons/reason_7.png)
	&-8
		background-image url(../img/icons/reason_8.png)
	&-9
		background-image url(../img/icons/reason_9.png)
	&-10
		background-image url(../img/icons/reason_10.png)
	&-text
		display: table-cell
		vertical-align: middle