#also
	padding 70px 0
	background-color: #212025
	background-image url(../img/backgrounds/also_bg.png)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.also-reason
	display: table
	width 100%
	max-width 417px
	background-color: rgba(255,255,255,.9)
	height: 250px;
	margin 0 auto 50px
	padding 30px 40px
	text-align: center
	box-shadow: 0 0 13px 5px rgba(255,255,255,.62)
	&-text
		@extend .reason-text
		line-height: 1.5