#get
	padding 70px 0
	background-color: #1B2826
	background-image url(../img/backgrounds/get_bg.png)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.general-title-get
	width 100%
	max-width 850px
	margin 0 auto 45px
.get-item
	width 100%
	max-width 315px
	height: 226px;
	margin 0 auto 50px
	background-color #fff
	box-shadow: 0 0 13px 5px rgba(255,255,255,.62)
	padding 90px 15px 30px
	position relative
	text-align: center
	&-title
		font-size: 130px;
		font-family: AVB
		color: rgb(20, 10, 92);
		position: absolute
		top -60px
		left 20px
	&-text
		font-size: 20px