#last
	@extend #for
.last-subtitle
	text-align: center
	font-size: 20px
.last-text
	line-height: 1.6
.last-container
	width 100%
	max-width: 999px;
	margin 50px auto 0
	background-color: #2E3438
	background-image url(../img/backgrounds/main_bg.png)
	background-repeat no-repeat
	background-position: center top
	background-size: cover
	color #fff
	padding 60px 70px 30px
.form-last
	margin-top: 45px