#main
	padding 0 0 60px
	background-color: #1b2826;
	background-image: url("../img/backgrounds/get_bg.png");
	background-repeat no-repeat
	background-position: center top
	background-size: cover
	color #fff
	position relative
	text-align: center
	&:before
		content: ''
		display block
		position: absolute
		top: 0
		left 0
		right 0
		bottom 0
		width 100%
		background-color: rgba(#1b2826,.7)
	.container
		position relative
		z-index 9
.pre
	font-size: 40px
	font-family: AVB
	margin-top: 60px
	color red
.main-title
	font-family: AVB
	font-size: 22px
	margin 15px 0
	span
		display: block
.main-subtitle
	font-size: 24px
	font-family: AVB
	background-color rgb(255, 0, 0);
	color #fff
	display: inline
	padding 5px
.main-subtitle-2
	margin 15px 0
.only
	font-size: 20px
	font-family: AVB
.cost
	font-size: 26px
	font-family: AVM
	margin 15px 0 25px
	text-align: center
	span
		text-decoration: line-through
.cost-light
	color #fff