#for
	padding: 50px 0
.for-subtitle
	font-size: 22px
	font-family: AVM
	margin 30px 0
	text-align: center
.for-list
	width 100%
	max-width 650px
	margin 0 auto 25px
	padding 20px
	box-shadow: 0px 3px 11.7px 1.3px rgba(0, 0, 0, .32)
	li
		line-height: 1.5;
		margin-bottom: 10px
		margin-left: 25px
		&:last-child
			margin-bottom: 0
.cost-full-for
	color: #000