#last
	padding 60px 0
	background-color: #ededd1;
	background-image: url("../img/backgrounds/revs_bg.png");
	background-repeat no-repeat
	background-position: center top
	background-size: cover
	text-align: center
	position relative
	color #fff
	&:before
		@extend #main:before
	.container
		position relative
		z-index 10
.last-text
	font-size: 22px
	margin: 0 auto 20px
	width 100%
	max-width 960px
	font-family: AVM
.button-last
	max-width 440px
	margin-top: 40px