section#main
	.container
		include ../header
		p.pre.hide Записи и домашние задания внизу страницы
		h1.main-title
			small Обучающий курс
			= head_title
		h2.main-subtitle Заговоры. Предсказания. Диагностика. Практическое применение
		p.main-text Дата проведения: 
			span с 13 сентября, 20:00 (МСК)
		p.main-text Автор курса: 
			span Анна Скуцкая
		+bl('button-main','#prices','Записаться')