.general-title
.main-title
.main-text span
.plan-packet-title
.plan-container-bonus span
.get-packet-title
.packet-head-title
.cost span
.prepaymant-title
.timer-title
.modal-title
.author-title
.carousel-control
footer h5
	font-weight: 900
.pre
.main-subtitle
.plan-packet-subtitle
.get-packet-text
.modal-bonus span
	font-weight: bold
.packet-head-title small
.packet-body-title
	font-weight: normal
.main-title
	font-size: 45px