.general-title
.main-title
.for-text-bold
.day-title
.get-item-title
.author-title
.carousel-control
.politics_modal-content .modal-title
	font-weight: bold
.pre
	font-weight: 700
.for-text-italic
	font-style: italic